@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Sitio</h1>
    <p>Aprender mas <a href="https://docs.microsoft.com/aspnet/core">Este es un cambio en el Servidor</a>.</p>
</div>
